<?xml version="1.0" encoding="UTF-8"?>
<web-app id="/Midnight" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Logincontroller</servlet-name>
        <servlet-class>Controller.Logincontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>Controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>Controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostBlogController</servlet-name>
        <servlet-class>Controller.AddPostBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDeleteController</servlet-name>
        <servlet-class>Controller.BlogDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommnetController</servlet-name>
        <servlet-class>Controller.AddCommnetController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddProductFeedback</servlet-name>
        <servlet-class>Controller.AddProductFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDeatilController</servlet-name>
        <servlet-class>Controller.AccountDeatilController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackToStaffController</servlet-name>
        <servlet-class>Controller.FeedbackToStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseFeedback</servlet-name>
        <servlet-class>Controller.ResponseFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManager</servlet-name>
        <servlet-class>Staff.FeedbackManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logincontroller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blog-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostBlogController</servlet-name>
        <url-pattern>/add-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDeleteController</servlet-name>
        <url-pattern>/delete-blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommnetController</servlet-name>
        <url-pattern>/add-comment</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddProductFeedback</servlet-name>
        <url-pattern>/add-product-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDeatilController</servlet-name>
        <url-pattern>/account-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDeatilController</servlet-name>
        <url-pattern>/edit-address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDeatilController</servlet-name>
        <url-pattern>/change-pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackToStaffController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackToStaffController</servlet-name>
        <url-pattern>/submit-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseFeedback</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseFeedback</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManageController</servlet-name>
        <url-pattern>/product-manage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductDetailsController</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageController</servlet-name>
        <url-pattern>/user-manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUserController</servlet-name>
        <url-pattern>/block-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductManageController</servlet-name>
        <servlet-class>Staff.ProductManageController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductDetailsController</servlet-name>
        <servlet-class>Staff.ProductDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>Staff.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>Staff.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>Staff.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManageController</servlet-name>
        <servlet-class>Staff.UserManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUserController</servlet-name>
        <servlet-class>Staff.BlockUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackManager</servlet-name>
        <url-pattern>/user-feedback-manage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <servlet-mapping>
            <servlet-name>ResponseFeedback</servlet-name>
            <url-pattern>/success</url-pattern>
        </servlet-mapping>
    </session-config>
</web-app>
